.barraDePesquisa {
  position: absolute;
  background-image: url("../assets/barra.png");
  top: 20px;
  right: 20px;
}

.barraDePesquisa input {
  width: 250px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}